.container {
  width: 70%;
  margin: 32px auto;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  border-radius: 5px;
  box-shadow: 0 0 2px #808080d3;
  padding: 24px;
}

.card img {
  max-width: 140px;
}

.card h3 {
  font-size: 16px;
}

.card p {
  color: gray;
}
